<%# 
<link rel="stylesheet" href="menu.css"/>
<script type="text/javascript" src="menu.js"></script> %>
 
<script type="text/javascript" src="menu.js"></script>
<link rel="stylesheet" href="menu.css"/>
<link href="anim.css" rel="stylesheet" id="bootstrap-css">
<script src="anim.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "BIENVENUE SUR MON SITE ðŸ˜‡â¤ï¸ðŸ˜»", "Je me nomme JEni.", "Je suis unE accro du web.", "Je me forme toujours" ]'>
    <span class="wrap"></span>
  </a>
</h1>
<%# <div id="container" align="center">
  <a class="btn btn-3">INSCRIS TOI</a> 
</div> %>




	