<link rel="stylesheet" href="menu.css"/>
<script type="text/javascript" src="menu.js"></script>

<center><h1>Voici ton profile <%= @username %></h1>
<p>voici ton id : <%= @id %></p>
<p>voici ta bio de:</p>
<p><%= @bio %></p></center>